<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="login.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
</head>
<body >
    <div id="loginForm" method="post" class="login"> 
        <label for="username">Username:</label> 
        <input type="text"  v-model="username" id="username" name="username"
					v-on:keyup.enter="submittingPage"
				>  <br> 
        <label for="password">Password:</label> 
				<input type="password"  id="password" name="password"
					v-model="password"	
					v-on:keyup.enter="submittingPage"
				><br> 
        <input v-on:click="submittingPage" type="submit" value="Login"> 
		</div> 
		<script src="login.js"></script>

</body>
</html>
