<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="login.css">
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
</head>
<body>
	<div id="loginForm" class="login">
		<h1>{{ username }}</h1>
		<label for="username">Username:</label>
		<input type="text" id="username" name="username"
			v-model="username"
			@keyup.enter="submittingPage">
		<label for="password">Password:</label>
		<input type="password" id="password" name="password"
			v-model="password"
			@keyup.enter="submittingPage">
		<input type="submit" value="Login" @click="submittingPage">
		<span v-if="seen">Now you see me</span>
	</div>
	<div id="Users">
		<li v-for="user in users" :key="user.id">{{ user.name }}</li>
	</div>
	
	<script src="login.js"></script>
		
</body>
</html>
